.markdown-render-container {

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0px;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0px;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0px;
  }

  h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0px;
  }

  h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0px;
  }

  p {
    font-size: 1rem;
    line-height: 1.625;
    margin: 1em 0;
    word-break: break-word;
  }

  a {
    @apply hover:opacity-60 relative border-gray-200 border-b border-dashed transition-all duration-300 hover:border-gray-400;
    font-size: 1rem;
    line-height: 1.625;
    margin: 1em 0;
    word-break: break-word;

    // &:hover::after {
    //   visibility: visible;
    //   transform: translate(0, calc(-100% - 5px));
    // }

    // &::after {
    //   font-size: 0.9rem;
    //   visibility: hidden;
    //   content: attr(href);
    //   background: #454f54;
    //   // left-1/2
    //   border-radius: 5px;
    //   color: #fff;
    //   line-height: 1.5;
    //   white-space: nowrap;
    //   opacity: .9;
    //   padding: 0 5px;
    //   transition: all .1s ease-in-out;
    //   @apply absolute left-0 top-0 pointer-events-none;
    // }
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 0.5em;
  }

  li {
    margin: 1em 0;
  }

  ul>li,
  ol>li {
    position: relative;
    padding-left: 1.25em;
  }

  ul>li:before {
    content: "";
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

  ol>li:before {
    content: counter(list-item, var(--list-counter-style, decimal)) ".";
    position: absolute;
    font-weight: 400;
    // color: #6b7280;
    left: 0;
  }

  table {
    width: 100%;
    @apply border-l border-t leading-loose;


    th, td {
      @apply border-b border-r;
    }
  }


  code.inline {
    @apply bg-slate-100 py-0.5 px-1.5 rounded;
  }

  blockquote {
    @apply border-l-4 pl-4 py-1 my-6;

    p {
      margin: 0;
    }
  }

  // block code 
  .block-code-container {
    background-color: #f6f8fa;
    @apply my-6 rounded relative;

    .block-code-wrapper {
      @apply py-3 px-5 overflow-x-auto;
    }
  }
}