@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-background: #FCFCFC;
  /* --site-background: #fff; */
  --inline-code-background-color: #e4e4e499;
  /* --block-code-background-color: #f6f8fa99; */
  /* --block-code-background-color: #dbe4ec99; */
  --block-code-background-color: #e8e9e999;
  --code-lang-background-color: #404040;
  --code-lang-text-color: #fff;
  
  --icon-color: #888;
}

:root[data-theme="dark"] {
  /* --site-background: #1a202c; */
  --site-background: #2a2b2d;
  /* --site-background: #050505; */
  /* --inline-code-background-color: #2d2d2c99; */
  --inline-code-background-color: #43424299;
  --block-code-background-color: #1e1e1e99;
  --code-lang-background-color: #D4D4D4;
  --code-lang-text-color: #525252;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

:root {
  background-color: var(--site-background);
  transition: background-color 0.5s ease;
}

.shadow-text {
  text-shadow: 0 1.5px 4px #000;
}

:is([data-theme="dark"] .shadow-text) {
  text-shadow: 0 1.5px 4px #fff;
}

.nav-link {
  @apply capitalize opacity-60 transition-opacity hover:opacity-100 font-medium;
}

.link-border {
  @apply border-b border-dashed border-gray-300 transition-[border] duration-500 hover:border-gray-500;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

[data-theme="dark"]::view-transition-old(root) {
  z-index: 1;
}
[data-theme="dark"]::view-transition-new(root) {
  z-index: 9999;
}

::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}



