#post-content {
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0;
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0;
  }

  h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0;
  }

  h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0;
  }

  p {
    font-size: 1rem;
    line-height: 1.625;
    margin: 0.8em 0;
    word-break: break-word;
  }

  .inline-code {
    @apply rounded px-1.5 py-0.5;
    background-color: var(--inline-code-background-color);
  }

  a {
    @apply relative border-b border-dashed border-gray-300 transition-all duration-300 hover:border-gray-500 hover:opacity-60;
    font-size: 1rem;
    line-height: 1.625;
    margin: 1em 0;
    word-break: break-word;
  }

  ul,
  ol {
    margin: 1em 0;
    padding-left: 0.5em;
  }

  li {
    margin: 1em 0;
  }

  ul > li,
  ol > li {
    position: relative;
    padding-left: 1.25em;
  }

  ul > li:before {
    content: '';
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: 0.25em;
  }

  ol > li:before {
    content: counter(list-item, var(--list-counter-style, decimal)) '.';
    position: absolute;
    font-weight: 400;
    left: 0;
  }

  blockquote {
    @apply my-6 border-l-4 py-1 pl-4;

    p {
      margin: 0;
    }
  }
}

:root[data-theme="dark"] .shiki,
:root[data-theme="dark"] .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}