@font-face {
  font-family: "iconfont";
  /* Project id 3654721 */
  src: url('//at.alicdn.com/t/c/font_3654721_861db165nmb.woff2?t=1663469998712') format('woff2'),
    url('//at.alicdn.com/t/c/font_3654721_861db165nmb.woff?t=1663469998712') format('woff'),
    url('//at.alicdn.com/t/c/font_3654721_861db165nmb.ttf?t=1663469998712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e607";
}

.icon-checkboxchecked:before {
  content: "\e683";
}

.icon-checkbox:before {
  content: "\e684";
}