name: Buildingã€Transfering and Updating Server Service

on:
  push:
    branches:
      - main
    paths:
      - 'apps/server/**'
  workflow_dispatch: 

env:
  TZ: Asia/Shanghai
    
jobs:
  build: 
    runs-on: ubuntu-latest
    steps:    
    - name: Checkout Repository
      uses: actions/checkout@v3.5.2
        
    - name: Parse Current Building Time
      id: build_time
      run: |
        echo "time=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_OUTPUT

    - name: Create .env 
      run: |
        echo "DATABASE_HOST=${{ secrets.SERVER_HOST }}" > apps/server/.env
        echo "DATABASE_PORT=${{ secrets.DATABASE_PORT }}" >> apps/server/.env
        echo "DATABASE_USER=${{ secrets.DATABASE_USER }}" >> apps/server/.env
        echo "DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}" >> apps/server/.env
        echo "DATABASE_NAME=${{ secrets.DATABASE_NAME }}" >> apps/server/.env
        
    - name: Build Docker Image
      run: docker build -f apps/server/Dockerfile -t 0x1461a0.me/server:${{ steps.build_time.outputs.time }} .
      
    - name: Save Docker Image
      run: |
        docker save 0x1461a0.me/server:${{ steps.build_time.outputs.time }} > ${{ steps.build_time.outputs.time }}.tar

    - name: Transfer Docker Image to Aliyun
      uses: appleboy/scp-action@master
      with:
        host: xiefeng.tech
        username: github_actions
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: ${{ steps.build_time.outputs.time }}.tar
        target: /home/github_actions/xiefeng.tech/server

    - name: Update Service on Aliyun
      uses: appleboy/ssh-action@master
      with:
        host: xiefeng.tech
        username: github_actions
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # if 0x1461a0.me_client exist stop and remove it
          if (docker ps -a | grep 0x1461a0.me_server); then
            docker stop 0x1461a0.me_server
            docker rm 0x1461a0.me_server
          fi
          # load image and run it
          cd /home/github_actions/xiefeng.tech/server
          docker load -i ${{ steps.build_time.outputs.time }}.tar
          docker run -id -p 3000:3000 --name=0x1461a0.me_server 0x1461a0.me/server:${{ steps.build_time.outputs.time }}
  
        
    
