name: Buildingã€Transfering and Updating

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3.5.2

      - name: Create .env
        run: |
          cp .env.example .env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
          echo "USERNAME=${{ secrets.USERNAME }}" >> .env
          echo "PASSWORD=${{ secrets.PASSWORD }}" >> .env
          echo "AUTH_URL=${{ secrets.AUTH_URL }}" >> .env
          echo "AUTH_SECRET=${{ secrets.AUTH_SECRET }}" >> .env

      - name: Parse Current Building Time
        id: build_time
        run: |
          echo "time=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        run: docker build -t xiefeng.tech:${{ steps.build_time.outputs.time }} .

      - name: Save Docker Image
        run: |
          docker save xiefeng.tech:${{ steps.build_time.outputs.time }} > ${{ steps.build_time.outputs.time }}.tar

      - name: Transfer Docker Image to Aliyun
        uses: appleboy/scp-action@master
        with:
          host: xiefeng.tech
          username: github_actions
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ${{ steps.build_time.outputs.time }}.tar
          target: /home/github_actions/xiefeng.tech

      - name: Update Service on Aliyun
        uses: appleboy/ssh-action@master
        with:
          host: xiefeng.tech
          username: github_actions
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # if xiefeng.tech exist stop and remove it
            if (docker ps -a | grep xiefeng.tech); then
              docker stop xiefeng.tech
              docker rm xiefeng.tech
            fi
            # load image and run it
            cd /home/github_actions/xiefeng.tech
            docker load -i ${{ steps.build_time.outputs.time }}.tar
            docker run -id -p 3000:3000 --name=xiefeng.tech xiefeng.tech:${{ steps.build_time.outputs.time }}
